.card2 {
    width: 400px;
    height: 150px;
    margin: auto;
}

.txt1 {
    text-align: left;
}

.txt2 {
    text-align: center;
    font-size: 55px;
}

.txt3 {
    text-align: right;
}

.container {
    padding-left: 200px;
}

.table {
    margin: 20px auto;
    text-align: center;
}

.btn {
    background-color: #d7a86e;
}