.card2 {
	width: 400px;
	height: 150px;
	margin: auto;
}

.txt1 {
	text-align: left;
}

.txt2 {
	text-align: center;
	font-size: 55px;
}

.txt3 {
	text-align: right;
}

.table {
	margin: 20px auto;
	text-align: center;
	color: #c4c4c4;
}

.btn {
	background-color: #d7a86e;
	width: 50px;
	height: 50px;
	font-size: small;
}

.card {
	width: 700px;
	height: 500px;
	margin: auto;
	margin-top: 20px;
	background-color: #3a3558;
	padding-left: 2rem;
	justify-content: center;
	border-radius: 25px;
	font-size: medium;
}
.card2 {
	width: 250px;
	height: 150px;
	background-color: #85819c;
	margin: auto;
	justify-content: center;
	margin-top: 20px;
	border-radius: 25px;
}

.card-body {
	color: #c4c4c4;
}

* {
	margin: 0;
	padding: 0;
}

*,
::after,
::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
