.menu ul li {
    list-style: none;
}

.menu ul li a {
    display: block;
    margin-left: -30px;
    color: gold;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.menu ul li a:hover {
    background-color: gold;
}

.active {
    background-color: yelow;
}

.button {
    position: absolute;
    bottom: 16px;
    left: 115px;
}

.nav-bar {
    width: 80px;
    height: 100vh;
    border-radius: 0px;
    position: relative;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.2);
}

.tooltips {
    font-size: 12px;
    margin-top: -3.5rem;
    left: 90px;
    min-width: 18.5vh;
    background-color: gold;
    padding: 0.8rem 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
    cursor: auto;
    z-index: 30;
}

.menu-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 12px;
}

.menu {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.menu {
    margin-top: 8rem;
}

.menu ul li {
    font-size: 24px;
    text-align: center;
    margin-top: 6px;
    list-style: none;
}

.menu ul li a {
    padding: 6px;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    background-color: #ffffff;
    color: #48416c;
}

.menu ul li a:hover {
    background-color: gold;
    border-bottom: 1px solid #48416c;
}

.menu ul li a:hover div.tooltips {
    display: block;
}

.menu ul li a.actived {
    background-color: gold;
    border-bottom: 0px solid #48416c;
}

.button-menu {
    margin-top: 35.5vh;
}

.out {
    border-radius: 100px !important;
    border-bottom: 0px solid #48416c !important;
}

.button-menu ul li a.out {
    background-color: #ffd24c;
}

.ml-container {
    margin-left: 10vw;
}

.navbar {
    height: 80px;
}