.profil-photo {
    width: 100px;
    border-radius: 100%;
}

.menu ul li {
    list-style: none;
}

.menu ul li a {
    display: block;
    margin-left: -30px;
    color: green;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.menu ul li a:hover {
    background-color: red;
}

.active {
    background-color: blue;
}

.button {
    position: absolute;
    bottom: 16px;
    left: 115px;
}

.nav-bar {
    width: 75px;
    height: 88vh;
    background-color: rgb(0, 255, 0);
    border-radius: 0px;
    position: relative;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.2);
}

.tooltips {
    font-size: 15px;
    margin-top: -2.5rem;
    left: 90px;
    min-width: 18.5vh;
    background-color: black;
    padding: 0.8rem 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.4);
    display: none;
    cursor: auto;
    z-index: 30;
}

.menu-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 12px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.profile {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile img {
    width: 60px;
}

.menu {
    margin-top: 34px;
}

.menu ul li {
    font-size: 24px;
    text-align: center;
    margin-top: 6px;
    list-style: none;
}

.menu ul li a {
    padding: 6px;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    color: black;
}

.menu ul li a:hover {
    background-color: green;
    border-bottom: 1px solid black;
}

.menu ul li a:hover div.tooltips {
    display: block;
}

.menu ul li a.actived {
    background-color: black;
    border-bottom: 0px solid rgb(0, 0, 0);
}

.button-menu {
    margin-top: 35.5vh;
}

.out {
    border-radius: 100px !important;
    border-bottom: 0px solid rgb(0, 0, 0) !important;
}

.button-menu ul li a.out {
    background-color: black;
}

.ml-container {
    margin-left: 10vw;
}